[Unit]
Description=Golang web server

[Service]
Type=simple
User=root
WorkingDirectory=/etc/httpg
ExecStart=/etc/httpg/httpg
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
#multi-user.target defines a system state where all network services are started up and the system will accept logins
